<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Raspberrypiangular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Mitr|Squada+One" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css"/>

  <!-- scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body class="container">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="font-black brand-logo">Raspberry Pi</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/orders" id="ordersnav">Move!</a></li>
        <li><a href="/map" id="mapnav">Map</a></li>
        <li><a href="/about" id="aboutnav">About</a></li>
        <li><a ng-click="appCtrl.killPi()">Exit Server</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav background">
        <li><h3 class="font-black container top-space">Raspberry Pi Options</h3></li>
        <li><a href="/" class="container top-space">Home</a></li>
        <li><a href="/orders" class="container top-space">Move!</a></li>
        <li><a href="/map" class="container top-space">Map</a></li>
        <li><a href="/about" class="container top-space">About</a></li>
        <li><a class="container top-space" ng-click="appCtrl.killPi()">Exit Server</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <app-root></app-root>
</body>
</html>
